body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.error-msg{
  color: #ff5500;
  padding-left: 10px;
  padding-right: 10px;
}

.am-navbar .fixed-header{
  position: fixed;
  top: 0;
  width: 100%;
}

.page-content{
  padding: 45px 5px;
}

#chat-page .chat-me .am-list-extra {
  flex-basis: auto;
}
#chat-page .chat-me .am-list-content {
  padding-right: 15px;
  text-align: right;
}
.stick-footer {
  z-index: 10;
}